@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  background: #0b0b0f;
}

.header {
  background: url(../public/images/bg1.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  /* background: url(../public/images/bg2.png); */
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.linkCardLanding:hover svg {
  translate: 4px 0;
}